<div class="container">
  <div class="row">
    <div class="col-md-12">
    <%= render partial: 'spree/shared/error_messages', locals: { target: @user } %>
      <div id="registration" data-hook>

        <div id="account">
        <h1 class="registration-cart text-center">To finish your order please Log In or <%= link_to "Create an Account", spree.registration_path %></h1>
          <%= render template: 'spree/user_sessions/new' %>
        </div>
      </div>
    </div>

    </div>
  </div>
</div>