/*
 * This is a manifest file that'll automatically include all the stylesheets available in this directory
 * and any sub-directories. You're free to add application-wide styles to this file and they'll appear at
 * the top of the compiled file, but it's generally better to create a new file per style scope.
 *
 *= require spree/frontend
 *= require_self
 *= require_tree .
*/

html, body {
  width: 100%;
  height: 100%;
  margin: 0px;
  padding: 0px;
  overflow-x: hidden;
}

footer, .push {
	height: 200px;
}

.fa-icons-footer {
	letter-spacing: 10px;
	color: black !important;
}

.black-icon {
	color: black;
}

.wrapperxx {
	min-height: 80%;
	height: auto;
	margin: 0 auto -200px;
	min-width: 100%;
}

.footer-css {
	border-top: 1px solid black;
	width: 100%;
	padding-top: 50px;
	background-color: #d9d9d9;
	min-height: 355px;
	height: auto;
}

@media only screen and (max-width: 650px) { 
  .footer-css { 
    min-height: 548px;
    height: auto; 
  } 
}

.powered-by {
	text-decoration: none;
	color: red;
}

.powered-by:hover {
	text-decoration: none;
	color: red;
}

.header-text a {
	color: black;
}

.footer-links-padding {
	padding: 0px 0px 0px 30px;
	font-size: 15px;
	color: black;
}

.cart-or {
	font-size: 20px;
	font-weight: 500;
}

.steps-data {
	padding: 0px 35px 0px 35px;
}

.final-order-padding {
	padding: 0px 18px 0px 18px;
}

.header-background {
	background: rgba(0,0,0,.5);
}

.homepage-background {
	background-color: #d9d9d9;
}

.main-img {
	background-color: black;
	background-size: cover;
	background-repeat: no-repeat;
	height: 275px;
	margin-top: -291px;
	width: 100%;
}

@media only screen and (min-width: 650px) {
    .main-img {    		
				background-image: url('https://s3-us-west-2.amazonaws.com/missionarybox/placeholderhome.jpg'); 
				background-size: cover;
				background-repeat: no-repeat;
				height: 500px;
				margin-top: -218px;
    }
}

@media only screen and (max-width: 650px) { 
  .limit-min-max { 
    display: none; 
  } 
}

@media only screen and (max-width: 650px) { 
  .nav-item { 
    margin-right: -72px;
    text-align:right;
  } 
}

.text-outer {
	width: 100%;
	text-align: center;
	margin: auto 0;
}

.btn-style {
	background-color: white;
	border: none;
	border-radius: 20px;
	color: black;
	margin-top: 10px;
}

.button-margin {
	margin-left: 802px;
}

.header-line-space {
	letter-spacing: 2px;
}

.fa {
	color: white;
	padding-right: 5px;
}

.card-pic-size {
	height: 15rem;
}

.card-padding {
	margin-bottom: 15px;
}

.card-container {
	margin-top: 25px;
	margin-bottom: 25px;
	padding: 25px;
}

.product-btn-styles {
	border-radius: 20px;
	background-color: black;
	border: none;
}

.card-alignment-style {
	margin: auto 0;
}

.img-size-sister {
	height: 15rem;
}

.sister-btn-styles {
	text-align: center;
}

.sister-btn-styles2 {
	border-radius: 20px;
	margin-bottom: 50px;
	background-color: black;
	border: none;
	width: 80%;
	white-space: normal;
}

.sister-btn-styles2 h2 {
	color: white;

}

.sister-card-background {
	background-color: #d9d9d9;
	border:none;
}

.sister-toggle-style {
	text-align: center;
}

.toggle-text-right {
	text-align: left;
}


.sister-container {
	text-align: center;
	margin-bottom: 50px;
}

.header-background {
		background: rgba(0,0,0,.5);
	}

.nav-link {
	display: inline;
}

#app {
	font-size: 1rem;
	letter-spacing: 1px;
}

.nav-item {
	padding: 0 3px 0 0;
}

/* test */

@mixin responsive-font($responsive, $min, $max: false, $fallback: false) {
  $responsive-unitless: $responsive / ($responsive - $responsive + 1);
  $dimension: if(unit($responsive) == 'vh', 'height', 'width');
  $min-breakpoint: $min / $responsive-unitless * 100;
  
  @media (max-#{$dimension}: #{$min-breakpoint}) {
    font-size: $min;
  }
  
  @if $max {
    $max-breakpoint: $max / $responsive-unitless * 100;
    
    @media (min-#{$dimension}: #{$max-breakpoint}) {
      font-size: $max;
    }
  }
  
  @if $fallback {
    font-size: $fallback;
  }
  
  font-size: $responsive;
}

.footer-min-max {
  @include responsive-font(1.4vw, 12px, 90px);
	color: black;
	line-height: 4vh;
  /*-webkit-text-stroke: 1.5px black; */
}

.footer-min-max a {
  @include responsive-font(.9vw, 10px, 20px);
	color: black;
	line-height: 4vh;
  /*-webkit-text-stroke: 1.5px black; */
}

.limit-min-max h1 {
  @include responsive-font(3vw, 25px, 90px);
	color: white;
  -webkit-text-stroke: 1.5px black;
  padding: 90px 0 15px 0;
  max-width: 100%;
}

@media only screen and (max-width: 650px) { 
  .sister-btn-styles2 h2 { 
	  @include responsive-font(3.5vw, 12px, 20px);
  }
  .sister-btn-styles2 {
  	width: 95%;
  }
}

@media only screen and (min-width: 650px) {
	.product-description-size {
		font-size: 20px;
		line-height: 25px;
	}
}

@media only screen and (max-width: 650px) {
	#product-description .product-title {
		font-size: 15px;
	}
}

.limit-min-max {
	width: 100%;
	margin-top: 15%;
}

/* test */

.fa-facebook-official:before {
	color: black;
}

.fa-twitter-square:before {
	color: black;
}

.dropdown-item {
  text-align: right;
  margin: 0px 47px 0px 0px;
  padding-right: 10px;
}

.dropdown-item:hover {
	background-color: #bcbcbc;
}

.dropdown-toggle::after {
	color: white;
}

.dropdown-menu {
	background-color: #d9d9d9;
}

.dropdown-divider {
	background-color: #bcbcbc;
}

.login-card-style {
	 background-color: #d9d9d9;
	 padding: 20px 25px 5px 25px;
}

.check-box-size {
	margin-bottom: 8px;
}

.login-helpers {
	font-size: 1.2rem;
	padding-bottom: 15px;
}

.login-helpers a {
	text-decoration: none;
	color: black;
}

.product-form-padding {
	padding-top: 25px;
}

.checkout-forms-center {
	text-align: center;
}

#checkout {
	margin-left: 40px;
}

.form-buttons {
	margin: 30px 0px 0px 15px;
}

.login-card-margin {
	margin-bottom: 20px;
}

.navbar-toggler-right {
	right: -3rem;
	top: 2rem;
}

.navbar-toggleable-md {
	z-index: 1000;
}

.navbar {
	z-index: 1000;
}

ul#products li .product-image img {
	width: 75%;
}

.footer-margin {
	margin-top: 5px;
}

.captcha-width {
	width: 20%;
}

.email-to-friend a {
	color: purple;
}

.email-to-friend2 {
	color: black;
	margin-top: 40px;
}

.email-to_friend {
	display: none;
}

#product-images #main-image img {
	width: 100%;
	height: auto;
	min-height: auto;
}

ul#products li .product-image {
	padding: 0px;
	border: none;
}

ul#products li .product-image img {
	width: 100%;
}