/*
* This is a manifest file that includes stylesheets for spree_frontend
 *= require normalize
 *= require spree/frontend/screen
*/

footer, .push {
	height: 200px;
}

.fa {
	color: black;
}

.fa-icons-footer {
	letter-spacing: 10px;
}

.wrapperxx {
	min-height: 80%;
	height: auto !important;
	height: 100%;
	margin: 0 auto -200px;
}

html, body {
	height: 100%;
}

.footer-css {
	border-top: 1px solid #d9d9db;
	width: 100%;
	padding-top: 50px;
}

.footer-text {
	font-size: 20px;
	line-height: 2rem;
}

.powered-by {
	text-decoration: none;
	color: red;
}

.powered-by:hover {
	text-decoration: none;
	color: red;
}

.header-text a {
	color: black;
}

.footer-links-padding {
	padding: 0px 10px 0px 10px;
	font-size: 15px;
	color: black;
}

.cart-or {
	font-size: 20px;
	font-weight: 500;
}

.steps-data {
	padding: 0px 35px 0px 35px;
}

.final-order-padding {
	padding: 0px 18px 0px 18px;
}


.main-img {
	width: 100%;
	background-image: url("https://s3-us-west-2.amazonaws.com/missionarybox/placeholderhome.jpg");
	height: 500px;
	margin-top: -153px;
}

.text-outer {
	width: 100%;
	text-align: center;
	margin: auto 0;
}

.text h2 {
	color: white;
}

.btn-style {
	background-color: white;
	border: none;
	border-radius: 20px;
	color: black;
	margin-top: 10px;
}

nav#top-nav-bar {
	margin-top: 50px;
}

.header-line-space {
	letter-spacing: 2px;
}

.fa {
	color: white;
}
.transparent {
	background: transparent;
}

.card-pic-size {
	height: 20rem;
}

.card-container {
	margin-top: 25px;
	margin-bottom: 25px;
	padding: 25px;
}

.card-alignment-style {
	margin: auto 0;
}

.header-background {
		background: rgba(0,0,0,.5);
		width: 150%;
		height: 153px;
		margin-top: -153px;
		margin-left: -240px;
}
