/*
* This is a manifest file that includes stylesheets for spree_frontend
 *= require normalize
 *= require spree/frontend/screen
*/

footer, .push {
	height: 200px;
}

#footer-left {
	position: absolute;
	left: 0px;
	bottom: 0px;
}

#footer-right {
	float: right;
	letter-spacing: 10px;
}

.fa {
	color: black;
}

.wrapperxx {
	min-height: 100%;
	height: auto !important;
	height: 100%;
	margin: 0 auto -200px;
}

html, body {
	height: 100%;
}

.footer-css {
	border-top: 1px solid #d9d9db;
	width: 100%;
	padding-top: 50px;
}
