/*
* This is a manifest file that includes stylesheets for spree_frontend
 *= require normalize
 *= require spree/frontend/screen
*/

footer, .push {
	height: 200px;
}

.fa {
	color: black;
}

.fa-icons-footer {
	letter-spacing: 10px;
}

.wrapperxx {
	min-height: 100%;
	height: auto !important;
	height: 100%;
	margin: 0 auto -200px;
}

html, body {
	height: 100%;
}

.footer-css {
	border-top: 1px solid #d9d9db;
	width: 100%;
	padding-top: 50px;
}

.footer-text {
	font-size: 20px;
	line-height: 2rem;
}

.powered-by a {
	text-decoration: none;
	color: red;
}


@keyframes flippity {
  100% {
    transform: rotateZ(360deg);
  }
}

.flippity {
  -webkit-animation-duration: 1.5s;
  animation-duration: 1.5s;
  -webkit-animation-name: flippity;
  animation-name: flippity;
  -webkit-animation-timing-function: linear;
  animation-timing-function: linear;
  -webkit-animation-iteration-count: 1;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
  opacity: 1;
}