<footer id="footer" class="sixteen columns fixed-bottom footer-css">
  <div id="footer-left" class="columns alpha eight">
    <p>Powered by <%= link_to 'GeekfulThinking', 'http://www.geekfulthinking.com' %></p>
  </div>
</footer>