<div class="header-background">
	<div class="container">
		<header id="header" class="row">
		  <figure id="logo" class="columns six"><%= logo img_options: { class: 'img-responsive', width: 125} %></figure>
		  <%= render partial: 'spree/shared/nav_bar' %>
		</header>
	</div>
</div>