<div class="header-background">
	<div class="container fluid">
		<div class="row">
			<div class="navbar-custom-margin">
		  	<%= render partial: 'spree/shared/nav_bar' %>
		  </div>
		</div>
	</div>
</div>