<header id="header" class="row" data-hook>
  <figure id="logo" class="columns six" data-hook><%= logo img_options: { class: 'img-responsive', width: 125} %></figure>
  <%= render partial: 'spree/shared/nav_bar' %>
</header>
<div class="header-background"></div>        
