<nav id="top-nav-bar" class="columns ten transparent navbar">
  <ul id="nav-bar" class="inline header-line-space">
    <li><%= link_fa_to 'user ', ' Login', login_path %></li>
    <li><%= link_fa_to 'plus ', ' Sign Up', signup_path %></li>
    <li><%= link_fa_to 'bars ', ' Menu & Products', spree.cart_path %></li>
  	<li class="nav-item"><%= link_fa_to 'shopping-cart', '', spree.cart_path %></li>
  </ul>
</nav>