<div class="homepage-background">
<div class="row main-img">
	<div class="text-outer">
		<div class="text limit-min-max">
			<h1>This is Missionary's Mission</h1>
			<button class="btn btn-primary btn-style">Sign Up Now</button>
		</div>
	</div>
</div>

<div class="card-container">
	<div class="row card-alignment-style">
		<div class="col-md-3">
			<div class="card" >
			  <img class="card-img-top card-pic-size" src="https://s3-us-west-2.amazonaws.com/missionarybox/card1.jpg" alt="Card image cap">
			  <div class="card-block">
			    <h4 class="card-title">Card title</h4>
			    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
			    <a href="#" class="btn btn-primary">Purchase Now</a>
			  </div>
			</div>
		</div>

		<div class="col-md-3">
			<div class="card">
			  <img class="card-img-top card-pic-size" src="https://s3-us-west-2.amazonaws.com/missionarybox/card2.jpg" alt="Card image cap">
			  <div class="card-block">
			    <h4 class="card-title">Card title</h4>
			    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
			    <a href="#" class="btn btn-primary">Purchase Now</a>
			  </div>
			</div>
		</div>

		<div class="col-md-3">
			<div class="card">
			  <img class="card-img-top card-pic-size" src="https://s3-us-west-2.amazonaws.com/missionarybox/card3.jpg" alt="Card image cap">
			  <div class="card-block">
			    <h4 class="card-title">Card title</h4>
			    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
			    <a href="#" class="btn btn-primary">Purchase Now</a>
			  </div>
			</div>
		</div>

		<div class="col-md-3">
			<div class="card">
			  <img class="card-img-top card-pic-size" src="https://s3-us-west-2.amazonaws.com/missionarybox/card4.jpg" alt="Card image cap">
			  <div class="card-block">
			    <h4 class="card-title">Card title</h4>
			    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
			    <a href="#" class="btn btn-primary">Purchase Now</a>
			  </div>
			</div>
		</div>
	</div>
</div>

<div class=" container sister-container">
	<div class="col-md-12">
		<div class="card">
  		<img class="card-img-top img-size-sister" src="https://s3-us-west-2.amazonaws.com/missionarybox/sisterimg.jpg" alt="Card image cap">
  		<div class="card-block">
    		<h3 class="card-text">My Missionary Box for Sisters COMING SOON!</h3>
  		</div>
		</div>
	</div>
</div>

</div>
<!-- <div data-hook="homepage_products">
  <%# cache(cache_key_for_products) do %>
    <%#= render partial: 'spree/products/products', locals: { products: @products } %>
  <%# end %>
</div> -->