<div class="homepage-background">
<div class="row main-img">
	<div class="text-outer">
		<div class="limit-min-max">
			<h1>My Missionary Box</h1>
			<%= link_to "Create an Account to Get Started", signup_path, class: "btn btn-primary btn-style" %>
		</div>
	</div>
</div>

<div class="card-container">
	<div class="row card-alignment-style">
		<div class="col-md-3 col-sm-6">
			<div class="card card-padding">
			  <img class="card-img-top card-pic-size image-responsive" src="https://s3-us-west-2.amazonaws.com/missionarybox/card1.jpg" alt="Card image cap">
			  <div class="card-block">
			    <h4 class="card-title">6 Month Subscription</h4>
			    <p class="card-text">Get a monthly delivery of premium hand picked ties for 6 months. Only $25/month.</p>
			    <a href="/products" class="btn btn-primary product-btn-styles">Learn More</a>
			  </div>
			</div>
		</div>

		<div class="col-md-3 col-sm-6">
			<div class="card card-padding">
			  <img class="card-img-top card-pic-size" src="https://s3-us-west-2.amazonaws.com/missionarybox/card2.jpg" alt="Card image cap">
			  <div class="card-block">
			    <h4 class="card-title">12 Month Subscription</h4>
			    <p class="card-text">Get a monthly delivery of premium hand picked ties for 12 months. Only $23/month.</p>
			    <a href="/products" class="btn btn-primary product-btn-styles">Learn More</a>
			  </div>
			</div>
		</div>

		<div class="col-md-3 col-sm-6">
			<div class="card card-padding">
			  <img class="card-img-top card-pic-size" src="https://s3-us-west-2.amazonaws.com/missionarybox/card3.jpg" alt="Card image cap">
			  <div class="card-block">
			    <h4 class="card-title">18 Month Subscription</h4>
			    <p class="card-text">Get a monthly delivery of premium hand picked ties for 18 months. Only $21/month.</p>
			    <a href="/products" class="btn btn-primary product-btn-styles">Learn More</a>
			  </div>
			</div>
		</div>

		<div class="col-md-3 col-sm-6">
			<div class="card card-padding">
			  <img class="card-img-top card-pic-size" src="https://s3-us-west-2.amazonaws.com/missionarybox/card4.jpg" alt="Card image cap">
			  <div class="card-block">
			    <h4 class="card-title">24 Month Subscription</h4>
			    <p class="card-text">Get a monthly delivery of premium hand picked ties for 24 months. Only $19.99/month.</p>
			    <a href="/products" class="btn btn-primary product-btn-styles">Learn More</a>
			  </div>
			</div>
		</div>
	</div>
</div>

<div class="container sister-btn-styles">
	<button class="btn btn-primary sister-btn-styles2" type="button" data-toggle="collapse" data-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample"><h2 class="dropdown-toggle">Accessories For Sister's Coming Soon!</h2></button>
	<div class="collapse" id="collapseExample">
	  <div class="card card-block sister-card-background">
		  <div class="row sister-toggle-style">
		    <div class="col-md-6">
		    	<img class="img-fluid img-size-sister"  src="https://s3-us-west-2.amazonaws.com/missionarybox/sisterimg.jpg">
		    </div>

		    <div class="col-md-6 toggle-text-right">
		    	<h1>Sister Accessories Coming Soon!</h1>
		    	<h3>
		    		<ul>
		    			<li>Tights/Leggings</li>
		    			<li>Socks</li>
		    			<li>and More</li>
		    		</ul>
		    	</h3>
		    </div>
		  </div>
	  </div>
	</div>
</div>
</div>

<!-- <div data-hook="homepage_products">
  <%# cache(cache_key_for_products) do %>
    <%#= render partial: 'spree/products/products', locals: { products: @products } %>
  <%# end %>
</div> -->

<!-- <div class=" container sister-container">
	<div class="col-md-12">
		<div class="card">
  		<img class="card-img-top img-size-sister" src="https://s3-us-west-2.amazonaws.com/missionarybox/sisterimg.jpg" alt="Card image cap">
  		<div class="card-block">
    		<h3 class="card-text">My Missionary Box for Sisters COMING SOON!</h3>
  		</div>
		</div>
	</div>
</div> -->